<section class="products" id="products">
    <div class="wrap">
        <h2>Nasze produkty</h2>

        <div id="buyNow">
            <h2>WYBIERZ SKLEP</h2>

            <div class="row">
                <a href="#" class="p00" target="blank"></a>
                <a href="#" class="p01" target="blank"></a>
                <a href="#" class="p02" target="blank"></a>
                <a href="#" class="p03" target="blank"></a>
                <a href="#" class="p04" target="blank"></a>
                <a href="#" class="p05" target="blank"></a>
                <a href="#" class="p06" target="blank"></a>
                <a href="#" class="p07" target="blank"></a>
                <a href="#" class="p08" target="blank"></a>
                <a href="#" class="p09" target="blank"></a>
                <a href="#" class="p10" target="blank"></a>
                <a href="#" class="p11" target="blank"></a>
                <a href="#" class="p12" target="blank"></a>
                <a href="#" class="p13" target="blank"></a>
                <a href="#" class="p14" target="blank"></a>
                <a href="#" class="p15" target="blank"></a>
            </div>
        </div>

        <div class="row list">
            <div class="box" id="b1">
                <img src="{{ asset('/images/1101.png') }}" alt="title" class="thumb"/>
                <div class="product">
                    <div id="trigger4"></div>
                    <img src="{{ asset('/images/0800.png') }}" alt="title" class="title"/>
                    <div class="text">
                        <p><strong>Niezniszczalna strzyżarka do włosów:</strong></p>
                        <ul>
                            <li><p>Wydajność 350 mm/s</p></li>
                            <li><p>Precyzyjne, szlifowane ostrza</p></li>
                            <li><p>Masywna poliwęglanowa obudowa</p></li>
                            <li><p>Zasilanie sieciowo – akumulatorowe (do 120 min użytkowania)</p></li>
                            <li><p>Wymienny system ostrzy</p></li>
                            <li><p>11 grzebieni do różnych długości (1,5 - 25 mm)</p></li>
                            <li><p>Możliwość mycia pod bieżącą wodą</p></li>
                        </ul>
                    </div>
                    <a href="#buyNow"
                       class="buy"
                       data-shop-p00="http://www.agdwarszawa.pl/p/1547/904/maszynka-do-wlosow-remington-virtually-indestructible-symbol-hc-5880-1-rok-gwarancji-promocja-remington--maszynki-do-wlosow-strzyzarki-.html"
                       data-shop-p01="http://www.agito.pl/maszynka-do-strzyzenia-remington-hc-5880-virtually-indestructible-1115-1029982.html"
                       data-shop-p02="http://bankujesz-zyskujesz.pl/moda-i-uroda/niezniszczalna-maszynka-do-wlosow-hc5880"
                       data-shop-p03="http://www.mediadomek.pl/product-pol-13251-REMINGTON-HC5880-Maszynka-do-wlosow-Virtually-Indestructible.html?text=HC5880"
                       data-shop-p04="http://www.mediaexpert.pl/strzyzarki-i-trymery/strzyzarka-remington-hc5880,id-262239"
                       data-shop-p05="http://www.mediamarkt.pl/strzyzarka-remington-hc5880,id-979477?gclid=CjwKEAjwzqKiBRCAydTZzOLi9CISJACm3irWo-gw9NW6v0-hLEBkzo7AQ6d2DXsw596s-0g5LGzV9xoCVu3w_wcB"
                       data-shop-p06="http://merlin.pl/REMINGTON-HC5880-Virtually-Indestructible-Maszynka-do-strzyzenia-wlosow_REMINGTON/browse/product/208,1519302.html"
                       data-shop-p07="http://www.morele.net/maszynka-do-wlosow-remington-hc5880-666543/"
                       data-shop-p08="none"
                       data-shop-p09="https://sklep.payback.pl/nagrody/maszynka-do-strzyzenia-w-osow"
                       data-shop-p10="http://www.euro.com.pl/maszynki-do-strzyzenia/remington-hc5880.bhtml#afterSearch-hc5880|trymery||Trymery|product-all"
                       data-shop-p11="http://www.saturn.pl/strzyzarka-remington-hc5880,id-979477"
                       data-shop-p12="http://selgros24.pl/Sprz%C4%99t-AGD/Drobne-AGD/Pozosta%C5%82e-drobne-AGD/Maszynki-do-strzy%C5%BCenia/REMINGTON/MASZYNKA-DO-STRZY%C5%BBENIA-W%C5%81OS%C3%93W-REMINGTON-HC5880/2_65321.do?seasonId=100"
                       data-shop-p13="http://www.empik.com/maszynka-do-wlosow-remington-hc5880-czarna-remington,p1102860624,elektronika-p"
                       data-shop-p14="http://www.smyk.com/maszynka-do-wlosow-remington-hc5880-czarna,p1102860624,swiat-niemowlaka-p"
                       data-shop-p15="none"></a>
                </div>
            </div>

            <div class="box" id="b2">
                <img src="{{ asset('/images/1102.png') }}" alt="title" class="thumb"/>
                <div class="product">
                    <div id="trigger5"></div>
                    <img src="{{ asset('/images/0802.png') }}" alt="title" class="title"/>
                    <div class="text">
                        <p><strong>Zestaw do pielęgnacji osobistej Vacuum 5 w 1:</strong></p>
                        <ul>
                            <li><p>2 końcówki Vacuum:<br/>- Precyzyjny trymer do dokładnego golenia (0,4 mm)</br/>- Szeroka końcówka trymera (32 mm szerokości)</p></li>
                            <li><p>Precyzyjne, szlifowane ostrza</p></li>
                            <li><p>Trymer do nosa</p></li>
                            <li><p>2 końcówki:<br />- Folia do golenia<br />- Liniowy trymer do ciała</p></li>
                            <li><p>Samoostrzące Ostrza Advanced Titanium</p></li>
                            <li><p>Zasilanie litowe zapewnia używanie do 60 min</p></li>
                        </ul>
                    </div>
                    <a href="#buyNow"
                       class="buy"
                       data-shop-p00="none"
                       data-shop-p01="none"
                       data-shop-p02="http://bankujesz-zyskujesz.pl/moda-i-uroda/zestaw-do-pielegnacji-osobistej-vacuum-pg6070"
                       data-shop-p03="http://www.mediadomek.pl/product-pol-13262-Remington-PG6070-Zestaw-do-pielegnacji-osobistej-Vacuum-5-w-1.html?text=6070"
                       data-shop-p04="http://www.mediaexpert.pl/strzyzarki-i-trymery/strzyzarka-remington-pg6070,id-262289"
                       data-shop-p05="http://www.mediamarkt.pl/strzyzarka-remington-pg6070,id-979483"
                       data-shop-p06="none"
                       data-shop-p07="http://www.morele.net/maszynka-do-wlosow-remington-pg6070-690525/"
                       data-shop-p08="none"
                       data-shop-p09="none"
                       data-shop-p10="http://www.euro.com.pl/trymery/remington-vacuum-5w1-pg6070.bhtml#afterSearch-pg6070|trymery||Trymery|product"
                       data-shop-p11="http://www.saturn.pl/strzyzarka-remington-pg6070,id-979483"
                       data-shop-p12="http://selgros24.pl/Sprz%C4%99t-AGD/Drobne-AGD/Pozosta%C5%82e-drobne-AGD/Maszynki-do-strzy%C5%BCenia/REMINGTON/ZESTAW-DO-PIEL%C4%98GNACJI-OSOBISTEJ-REMINGTON-VACUUM-5W1-PG6070/2_69594.do"
                       data-shop-p13="http://www.empik.com/zestaw-do-pielegnacji-osobistej-5w1-remington-pg6070-dla-mezczyzn-czarny-remington,p1102729521,elektronika-p"
                       data-shop-p14="http://www.smyk.com/zestaw-do-pielegnacji-osobistej-5w1-remington-pg6070-dla-mezczyzn-czarny,p1102729521,swiat-niemowlaka-p"
                       data-shop-p15="http://www.oleole.pl/trymery/remington-vacuum-5w1-pg6070.bhtml#afterSearch-pg6070|trymery||Trymery|product"></a>
                </div>
            </div>

            <div class="box" id="b3">
                <img src="{{ asset('/images/1100.png') }}" alt="title" class="thumb"/>
                <div class="product">
                    <div id="trigger6"></div>
                    <img src="{{ asset('/images/0801.png') }}" alt="title" class="title"/>
                    <div class="text">
                        <p><strong>Golarka rotacyjna HyperFlex Pro:</strong></p>
                        <ul>
                            <li><p>Wydajność 350 mm/s</p></li>
                            <li><p>Ostrza PrecisionUltra</p></li>
                            <li><p>Głowica XL ActiveContour</p></li>
                            <li><p>Podwójne pierścienie tnące</p></li>
                            <li><p>100% wodoodporna</p></li>
                            <li><p>Zasilanie akumulatorowe</p></li>
                            <li><p>Trymer precyzyjny ComfortTrim</p></li>
                            <li><p>Do 60 min bezprzewodowego działania</p></li>
                        </ul>
                    </div>
                    <a href="#buyNow"
                       class="buy"
                       data-shop-p00="none"
                       data-shop-p01="http://www.agito.pl/golarka-meska-remington-xr-1370-hyperflex-pro-1111-977822.html"
                       data-shop-p02="http://bankujesz-zyskujesz.pl/moda-i-uroda/golarka-rotacyjne-hyperflex-pro-xr1370"
                       data-shop-p03="http://www.mediadomek.pl/product-pol-13152-GOLARKA-REMINGTON-XR1370-HyperFlex.html"
                       data-shop-p04="none"
                       data-shop-p05="http://www.mediamarkt.pl/golarka-remington-xr-1370,id-898204"
                       data-shop-p06="http://merlin.pl/Remington-HyperFlex-Pro-XR1370-golarka-rotacyjna_REMINGTON/browse/product/208,1422619.html"
                       data-shop-p07="none"
                       data-shop-p08="none"
                       data-shop-p09="none"
                       data-shop-p10="http://www.euro.com.pl/golarki/remington-xr1370.bhtml#afterSearch-golarka+rotacyjna+hyperflex+pro||||product"
                       data-shop-p11="http://www.saturn.pl/golarka-remington-xr-1370,id-898204"
                       data-shop-p12="none"
                       data-shop-p13="none"
                       data-shop-p14="none"
                       data-shop-p15="http://www.oleole.pl/golarki/remington-xr1370.bhtml"></a>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="row all">
            <a href="/produkty"></a>
        </div>

        <div class="clear"></div>
    </div>
</section>