{% extends 'base.html.twig' %}

{% block title %}Remington - Każda Sytuacja - Produkty{% endblock %}

{% block body %}
<section class="all-products" id="products">
    <div class="wrap">
        <h2>Nasze produkty</h2>

        <div class="row buttons">
            <a href="/strzyzarki" class="button select" id="clipper">STRZYŻARKI DO WŁOSÓW</a>
            <a href="/trymery" class="button" id="trymer">TRYMERY I ZESTAWY DO PIELĘGNACJI CIAŁA</a>
            <a href="/golarki" class="button" id="shaver">GOLARKI</a>
        </div>

        <div id="buyNow">
            <h2>WYBIERZ SKLEP</h2>

            <div class="row">
                <a href="#" class="p00" target="blank"></a>
                <a href="#" class="p01" target="blank"></a>
                <a href="#" class="p02" target="blank"></a>
                <a href="#" class="p03" target="blank"></a>
                <a href="#" class="p04" target="blank"></a>
                <a href="#" class="p05" target="blank"></a>
                <a href="#" class="p06" target="blank"></a>
                <a href="#" class="p07" target="blank"></a>
                <a href="#" class="p08" target="blank"></a>
                <a href="#" class="p09" target="blank"></a>
                <a href="#" class="p10" target="blank"></a>
                <a href="#" class="p11" target="blank"></a>
                <a href="#" class="p12" target="blank"></a>
                <a href="#" class="p13" target="blank"></a>
                <a href="#" class="p14" target="blank"></a>
                <a href="#" class="p15" target="blank"></a>
            </div>
        </div>

        <div class="row clipper select">
            <p>Wyposażone w mocny silnik strzyżarki, a w wśród nich model HC5880 – Niezniszczalna Strzyżarka Do Włosów. Szybkie i sprawne urządzenia będące odpowiedzią wymagania stawiane przez dzisiejszych mężczyzn. Proste w użyciu, zapewniają szybki i doskonały efekt. </p>
        </div>

        <div class="row clipper select">
            <div class="box" id="HC5880">
                <img src="{{ asset('/images/products/0100.jpg') }}" alt="virtually indestructble" class="thumb" />

                <img src="{{ asset('/images/products/p007.png') }}" alt="virtually indestructble" class="title">

                <p><strong>Niezniszczalna strzyżarka do włosów:</strong></p>
                <ul>
                    <li><p>Wydajność 350 mm/s</p></li>
                    <li><p>Precyzyjne, szlifowane ostrza</p></li>
                    <li><p>Masywna poliwęglanowa obudowa</p></li>
                    <li><p>Zasilanie sieciowo – akumulatorowe (do 120 min użytkowania)</p></li>
                    <li><p>Wymienny system ostrzy</p></li>
                    <li><p>11 grzebieni do różnych długości (1,5 - 25 mm)</p></li>
                    <li><p>Możliwość mycia pod bieżącą wodą</p></li>
                </ul>

                <a href="http://pl.remington-europe.com/men/grooming/hair-clippers/virtually-indestructible-hair-clipper-hc5880.html" class="more" target="blank">więcej &gt;</a>

                <a href="#buyNow"
                   class="buy"
                   data-shop-p00="http://www.agdwarszawa.pl/p/1547/904/maszynka-do-wlosow-remington-virtually-indestructible-symbol-hc-5880-1-rok-gwarancji-promocja-remington--maszynki-do-wlosow-strzyzarki-.html"
                   data-shop-p01="http://www.agito.pl/maszynka-do-strzyzenia-remington-hc-5880-virtually-indestructible-1115-1029982.html"
                   data-shop-p02="http://bankujesz-zyskujesz.pl/moda-i-uroda/niezniszczalna-maszynka-do-wlosow-hc5880"
                   data-shop-p03="http://www.mediadomek.pl/product-pol-13251-REMINGTON-HC5880-Maszynka-do-wlosow-Virtually-Indestructible.html?text=HC5880"
                   data-shop-p04="http://www.mediaexpert.pl/strzyzarki-i-trymery/strzyzarka-remington-hc5880,id-262239"
                   data-shop-p05="http://www.mediamarkt.pl/strzyzarka-remington-hc5880,id-979477?gclid=CjwKEAjwzqKiBRCAydTZzOLi9CISJACm3irWo-gw9NW6v0-hLEBkzo7AQ6d2DXsw596s-0g5LGzV9xoCVu3w_wcB"
                   data-shop-p06="http://merlin.pl/REMINGTON-HC5880-Virtually-Indestructible-Maszynka-do-strzyzenia-wlosow_REMINGTON/browse/product/208,1519302.html"
                   data-shop-p07="http://www.morele.net/maszynka-do-wlosow-remington-hc5880-666543/"
                   data-shop-p08="none"
                   data-shop-p09="https://sklep.payback.pl/nagrody/maszynka-do-strzyzenia-w-osow"
                   data-shop-p10="http://www.euro.com.pl/maszynki-do-strzyzenia/remington-hc5880.bhtml#afterSearch-hc5880|trymery||Trymery|product-all"
                   data-shop-p11="http://www.saturn.pl/strzyzarka-remington-hc5880,id-979477"
                   data-shop-p12="http://selgros24.pl/Sprz%C4%99t-AGD/Drobne-AGD/Pozosta%C5%82e-drobne-AGD/Maszynki-do-strzy%C5%BCenia/REMINGTON/MASZYNKA-DO-STRZY%C5%BBENIA-W%C5%81OS%C3%93W-REMINGTON-HC5880/2_65321.do?seasonId=100"
                   data-shop-p13="http://www.empik.com/maszynka-do-wlosow-remington-hc5880-czarna-remington,p1102860624,elektronika-p"
                   data-shop-p14="http://www.smyk.com/maszynka-do-wlosow-remington-hc5880-czarna,p1102860624,swiat-niemowlaka-p"
                   data-shop-p15="none"></a>
                <a href="https://www.youtube.com/watch?v=jjiTvN3i6UY&list=UU8tDvIkwkkURBlTez7_P_OQ" class="tube"></a>
            </div>

            <div class="box" id="HC5400">
                <img src="{{ asset('/images/products/0101.jpg') }}" alt="Pro Power Titanium" class="thumb" />

                <img src="{{ asset('/images/products/p010.png') }}" alt="Pro Power Titanium" class="title">

                <p><strong>Maszynka do strzyżenia włosów Pro Power Titanium:</strong></p>
                <ul>
                    <li><p>Silnik Pro Power</p></li>
                    <li><p>Samoostrzące Ostrza z powłoką tytanową</p></li>
                    <li><p>2 regulowane nakładki grzebieniowe (3 - 42 mm)</p></li>
                    <li><p>System Quick Wash</p></li>
                    <li><p>Możliwość ładowania przez Micro USB</p></li>
                    <li><p>Zasilanie sieciowo – akumulatorowe, zapewnia do 60 min</p></li>
                </ul>

                <a href="http://pl.remington-europe.com/men/grooming/hair-clippers/pro-power-hair-clipper-hc5400.html" class="more" target="blank">więcej &gt;</a>

                <a href="#buyNow"
                   class="buy"
                   data-shop-p00="http://www.agdwarszawa.pl/p/1547/580/maszynka-do-strzyzenia-wlosow-remington-hc5400-pro-power-1-rok-gwarancji--maszynki-do-wlosow-strzyzarki-.html"
                   data-shop-p01="http://www.agito.pl/maszynka-do-strzyzenia-remington-hc-5400-pro-power-1115-918493.html"
                   data-shop-p02="none"
                   data-shop-p03="none"
                   data-shop-p04="http://www.mediaexpert.pl/strzyzarki-i-trymery/strzyzarka-remington-hc-5400,id-230105"
                   data-shop-p05="http://www.mediamarkt.pl/strzyzarka-remington-hc-5400,id-898196"
                   data-shop-p06="http://merlin.pl/Remington-Pro-Power-HC5400-maszynka-do-wlosow_REMINGTON/browse/product/208,1422316.html"
                   data-shop-p07="http://www.morele.net/maszynka-do-wlosow-remington-hc5400-599543/"
                   data-shop-p08="http://www.neonet.pl/remington_hc5400.html"
                   data-shop-p09="https://sklep.payback.pl/nagrody/maszynka-pro-power"
                   data-shop-p10="http://www.euro.com.pl/maszynki-do-strzyzenia/remington-hc5400.bhtml#afterSearch-hc5400|maszynki-do-strzyzenia||Maszynki+do+strzy%C5%BCenia|product"
                   data-shop-p11="http://www.saturn.pl/strzyzarka-remington-hc-5400,id-898196"
                   data-shop-p12="http://selgros24.pl/Sprz%C4%99t-AGD/Drobne-AGD/Pozosta%C5%82e-drobne-AGD/Maszynki-do-strzy%C5%BCenia/REMINGTON/MASZYNKA-DO-STRZY%C5%BBENIA-HC5400-REMINGTON/2_35424_-1.do"
                   data-shop-p13="http://www.empik.com/maszynka-do-wlosow-remington-pro-power-hc5400-remington,p1089447621,elektronika-p"
                   data-shop-p14="http://www.smyk.com/maszynka-do-wlosow-remington-pro-power-hc5400,p1089447621,swiat-niemowlaka-p"
                   data-shop-p15="http://www.oleole.pl/maszynki-do-strzyzenia/remington-hc5400.bhtml#afterSearch-hc5400||||product"></a>
                <a href="http://www.youtube.com/watch?v=ZvOohj4HRdM&list=UU8tDvIkwkkURBlTez7_P_OQ" class="tube"></a>
            </div>

            <div class="box" id="HC5800">
                <img src="{{ asset('/images/products/0102.jpg') }}" alt="Pro Power Titanium Ultra" class="thumb" />

                <img src="{{ asset('/images/products/p008.png') }}" alt="Pro Power Titanium Ultra" class="title">

                <p><strong>Maszynka do strzyżenia włosów Pro Power Titanium Ultra:</strong></p>
                <ul>
                    <li><p>Silnik Pro Power</p></li>
                    <li><p>Samoostrzące Ostrza z powłoką tytanową</p></li>
                    <li><p>System Auto Boost</p></li>
                    <li><p>2 w 1 do włosów i brody</p></li>
                    <li><p>System Quick Wash</p></li>
                    <li><p>Możliwość ładowania przez Micro USB</p></li>
                    <li><p>Zasilanie sieciowo – akumulatorowe, zapewnia do 120 min</p></li>
                </ul>

                <a href="http://pl.remington-europe.com/men/grooming/hair-clippers/pro-power-hair-clipper-hc5800.html" class="more" target="blank">więcej &gt;</a>

                <a href="#buyNow"
                   class="buy"
                   data-shop-p00="http://www.agdwarszawa.pl/p/1547/592/maszynka-do-strzyzenia-wlosow-remington-hc-5800-pro-power-1-rok-gwarancji-promocja-remington-kazda-sytuacja--maszynki-do-wlosow-strzyzarki-.html"
                   data-shop-p01="http://www.agito.pl/maszynka-do-strzyzenia-remington-hc-5800-pro-power-hair-1115-1006807.html"
                   data-shop-p02="none"
                   data-shop-p03="http://www.mediadomek.pl/product-pol-13149-REMINGTON-HC5800.html?text=HC5800"
                   data-shop-p04="http://www.mediaexpert.pl/strzyzarki-i-trymery/strzyzarka-remington-hc-5800,id-230101"
                   data-shop-p05="http://www.mediamarkt.pl/strzyzarka-remington-hc-5800,id-898186"
                   data-shop-p06="http://merlin.pl/Remington-Pro-Power-HC5800-maszynka-do-wlosow_REMINGTON/browse/product/208,1422307.html"
                   data-shop-p07="http://www.morele.net/maszynka-do-wlosow-remington-hc5800-618462/"
                   data-shop-p08="http://www.neonet.pl/remington_hc5800.html"
                   data-shop-p09="none"
                   data-shop-p10="http://www.euro.com.pl/maszynki-do-strzyzenia/remington-pro-power-hc5800.bhtml#afterSearch-hc5800|maszynki-do-strzyzenia||Maszynki+do+strzy%C5%BCenia|product"
                   data-shop-p11="http://www.saturn.pl/strzyzarka-remington-hc-5800,id-898186"
                   data-shop-p12="none"
                   data-shop-p13="none"
                   data-shop-p14="none"
                   data-shop-p15="http://www.oleole.pl/maszynki-do-strzyzenia/remington-pro-power-hc5800.bhtml"></a>
                <a href="http://www.youtube.com/watch?v=ZvOohj4HRdM&list=UU8tDvIkwkkURBlTez7_P_OQ" class="tube"></a>
            </div>

            <div class="box" id="HC5600">
                <img src="{{ asset('/images/products/0103.jpg') }}" alt="Pro Power Titanium Plus" class="thumb" />

                <img src="{{ asset('/images/products/p009.png') }}" alt="Pro Power Titanium Plus" class="title">

                <p><strong>Maszynka do strzyżenia włosów Pro Power Titanium Plus:</strong></p>
                <ul>
                    <li><p>Silnik Pro Power</p></li>
                    <li><p>Samoostrzące Ostrza z powłoką tytanową</p></li>
                    <li><p>System Dual Boost</p></li>
                    <li><p>2 w 1 do włosów i brody</p></li>
                    <li><p>System Quick Wash</p></li>
                    <li><p>Możliwość ładowania przez Micro USB</p></li>
                    <li><p>Zasilanie sieciowo – akumulatorowe, zapewnia do 120 min</p></li>
                </ul>

                <a href="http://pl.remington-europe.com/men/grooming/hair-clippers/pro-power-hair-clipper-hc5600.html" class="more" target="blank">więcej &gt;</a>

                <a href="#buyNow"
                   class="buy"
                   data-shop-p00="http://www.agdwarszawa.pl/p/1547/581/maszynka-do-strzyzenia-wlosow-remington-hc5600-pro-power-1-rok-gwarancji--maszynki-do-wlosow-strzyzarki-.html"
                   data-shop-p01="http://www.agito.pl/maszynka-do-strzyzenia-remington-hc-5600-pro-power-1115-918485.html"
                   data-shop-p02="http://bankujesz-zyskujesz.pl/moda-i-uroda/maszynka-do-strzyzenia-wlosow-pro-power-hc5600"
                   data-shop-p03="http://www.mediadomek.pl/product-pol-13148-REMINGTON-HC5600-Maszynka-do-strzyzenia-wlosow-Pro-Power-WROCLAW.html?text=HC5600"
                   data-shop-p04="http://www.mediaexpert.pl/strzyzarki-i-trymery/strzyzarka-remington-hc-5600,id-230103"
                   data-shop-p05="http://www.mediamarkt.pl/strzyzarka-remington-hc-5600,id-898192"
                   data-shop-p06="http://merlin.pl/Remington-Pro-Power-HC5600-maszynka-do-wlosow_REMINGTON/browse/product/208,1422312.html"
                   data-shop-p07="http://www.morele.net/maszynka-do-wlosow-remington-hc5600-599542/"
                   data-shop-p08="none"
                   data-shop-p09="https://sklep.payback.pl/nagrody/maszynka-do-wlosow-pro-power"
                   data-shop-p10="http://www.euro.com.pl/maszynki-do-strzyzenia/remington-hc5600.bhtml#afterSearch-hc5600|maszynki-do-strzyzenia||Maszynki+do+strzy%C5%BCenia|product"
                   data-shop-p11="http://www.saturn.pl/strzyzarka-remington-hc-5600,id-898192"
                   data-shop-p12="none"
                   data-shop-p13="http://www.empik.com/maszynka-do-wlosow-remington-pro-power-hc5600-remington,p1089447649,elektronika-p"
                   data-shop-p14="http://www.smyk.com/maszynka-do-wlosow-remington-pro-power-hc5600,p1089447649,swiat-niemowlaka-p"
                   data-shop-p15="none"></a>
                <a href="http://www.youtube.com/watch?v=ZvOohj4HRdM&list=UU8tDvIkwkkURBlTez7_P_OQ" class="tube"></a>
            </div>
        </div>

        <div class="clear"></div>

        <div class="row trymer">
            <p>Urządzenia, które pozwalają zapanować nad brodą i zarostem. Dzięki różnym końcówkom można uzyskać pożądaną stylizację zarostu i pozbyć się niechcianego owłosienia z trudno dostępnych miejsc.</p>
        </div>

        <div class="row trymer">
            <div class="box" id="MB6550">
                <img src="{{ asset('/images/products/0104.jpg') }}" alt="Vaccum Beard & Grooming Kit" class="thumb" />

                <img src="{{ asset('/images/products/p004.png') }}" alt="Vaccum Beard & Grooming Kit" class="title">

                <p><strong>Trymer Vaccum Beard & Grooming Kit:</strong></p>
                <ul>
                    <li><p>3 końcówki: <br />– Węższy trymer do dokładniejszego strzyżenia (0,4 mm)<br />– Szerszy trymer (32 mm)<br />– standardowa  końcówka foliowa</p></li>
                    <li><p>Samoostrzące się ostrza tytanowe</p></li>
                    <li><p>Zasilanie litowe - czas użytkowania do 60 min</p></li>
                    <li><p>1 regulowany grzebień (2 - 16 mm) i 4 grzebienie (3, 6, 9, 12 mm)</p></li>
                    <li><p>Głowica do mycia pod bieżącą wodą</p></li>
                </ul>

                <a href="http://pl.remington-europe.com/men/grooming/beard-trimmers/vacuum-beard-and-grooming-kit-mb6550.html" class="more" target="blank">więcej &gt;</a>

                <a href="#buyNow"
                   class="buy"
                   data-shop-p00="none"
                   data-shop-p01="http://www.agito.pl/trymer-remington-mb-6550-vacuum-beard-1111-977823.html"
                   data-shop-p02="none"
                   data-shop-p03="http://www.mediadomek.pl/product-pol-13186-REMINGTON-MB6550-Trymer-do-brody-Vacuum.html?text=mb65"
                   data-shop-p04="none"
                   data-shop-p05="http://www.mediamarkt.pl/strzyzarka-remington-mb-6550-vacuum-beard,id-942490"
                   data-shop-p06="http://merlin.pl/Remington-Vacuum-Beard-and-Grooming-Kit-MB6550-trymer-do-brody_REMINGTON/browse/product/208,1422405.html"
                   data-shop-p07="http://www.morele.net/maszynka-do-wlosow-remington-mb6550-621638/"
                   data-shop-p08="none"
                   data-shop-p09="https://sklep.payback.pl/nagrody/trymer"
                   data-shop-p10="http://www.euro.com.pl/trymery/remington-mb6550.bhtml#afterSearch-mb6550||||product"
                   data-shop-p11="http://www.saturn.pl/strzyzarka-remington-mb-6550-vacuum-beard,id-942490"
                   data-shop-p12="http://selgros24.pl/Sprz%C4%99t-AGD/Drobne-AGD/Pozosta%C5%82e-drobne-AGD/Maszynki-do-strzy%C5%BCenia/REMINGTON/ZESTAW-DO-PIEL%C4%98GNACJI-BRODY-I-ZAROSTU-REMINGTON-VACUUM-BEARD-%26-GROOMING-KIT-MB6550/2_69593.do"
                   data-shop-p13="none"
                   data-shop-p14="none"
                   data-shop-p15="http://www.oleole.pl/trymery/remington-mb6550.bhtml"></a>
                <a href="#" class="tube"></a>
            </div>

            <div class="box" id="MB4560">
                <img src="{{ asset('/images/products/0105.jpg') }}" alt="Brody Touch Control" class="thumb" />

                <img src="{{ asset('/images/products/p012.png') }}" alt="Brody Touch Control" class="title">

                <p><strong>Trymer do Brody Touch Control:</strong></p>
                <ul>
                    <li><p>Samoostrzące się ostrza z powłoką tytanową</p></li>
                    <li><p>Technologia sterowania dotykowego Touch Logic 3.0</p></li>
                    <li><p>System Tri Boost - 3 ustawienia prędkości</p></li>
                    <li><p>Grzebień wyposażony w silnik</p></li>
                    <li><p>175 możliwości ustawień długości (z dokładnością co 0,1mm w zakresie 0,4 - 18mm )</p></li>
                    <li><p>Możliwość ładowania przez USB (przewód USB w zestawie)</p></li>
                    <li><p>Zasilanie sieciowo – akumulatorowe</p></li>
                    <li><p>Do 50 minut bezprzewodowego działania</p></li>
                    <li><p>Uchwyt antypoślizgowy – większy komfort i kontrola</p></li>
                </ul>

                <a href="http://pl.remington-europe.com/men/grooming/beard-trimmers/touch-control-beard-trimmer-mb4560.html" class="more" target="blank">więcej &gt;</a>

                <a href="#buyNow"
                   class="buy"
                   data-shop-p00="none"
                   data-shop-p01="none"
                   data-shop-p02="http://bankujesz-zyskujesz.pl/moda-i-uroda/trymer-do-brody-touch-control-mb4560"
                   data-shop-p03="http://www.mediadomek.pl/product-pol-13259-REMINGTON-MB4560-Trymer-do-brody-Touch-Control-WROCLAW.html?text=4560"
                   data-shop-p04="none"
                   data-shop-p05="none"
                   data-shop-p06="none"
                   data-shop-p07="http://www.morele.net/remington-mb4560-690517/"
                   data-shop-p08="none"
                   data-shop-p09="none"
                   data-shop-p10="http://www.euro.com.pl/trymery/remington-touch-control-mb4560.bhtml#afterSearch-mb4560|golarki||Golarki+m%C4%99skie|product-all"
                   data-shop-p11="none"
                   data-shop-p12="none"
                   data-shop-p13="http://www.empik.com/trymer-do-brody-remington-mb4560-bialo-czarny-remington,p1102861304,elektronika-p"
                   data-shop-p14="http://www.smyk.com/trymer-do-brody-remington-mb4560-bialo-czarny,p1102861304,swiat-niemowlaka-p"
                   data-shop-p15="http://www.oleole.pl/trymery/remington-touch-control-mb4560.bhtml#afterSearch-mb4560|golarki||Golarki+m%C4%99skie|product-all"></a>
                <a href="#" class="tube"></a>
            </div>

            <div class="box" id="PG6070">
                <img src="{{ asset('/images/products/0107.jpg') }}" alt="thumb" class="thumb" />

                <img src="{{ asset('/images/products/p006.png') }}" alt="title" class="title">

                <p><strong>Zestaw do pielęgnacji osobistej Vacuum 5 w 1:</strong></p>
                <ul>
                    <li><p>2 końcówki Vacuum<br />- Precyzyjny trymer do dokładnego golenia (0,4 mm)<br />- Szeroka końcówka trymera (32 mm szerokości)</p></li>
                    <li><p>Trymer do nosa</p></li>
                    <li><p>2 końcówki<br />- Folia do golenia<br />- Liniowy trymer do ciała</p></li>
                    <li><p>Samoostrzące Ostrza Advanced Titanium</p></li>
                    <li><p>Zasilanie litowe zapewnia używanie do 60 min</p></li>
                </ul>

                <a href="http://pl.remington-europe.com/men/grooming/personal-groomers/vacuum-5-in-1-grooming-kit-pg6070.html" class="more" target="blank">więcej &gt;</a>

                <a href="#buyNow"
                   class="buy"
                   data-shop-p00="none"
                   data-shop-p01="none"
                   data-shop-p02="http://bankujesz-zyskujesz.pl/moda-i-uroda/zestaw-do-pielegnacji-osobistej-vacuum-pg6070"
                   data-shop-p03="http://www.mediadomek.pl/product-pol-13262-Remington-PG6070-Zestaw-do-pielegnacji-osobistej-Vacuum-5-w-1.html?text=6070"
                   data-shop-p04="http://www.mediaexpert.pl/strzyzarki-i-trymery/strzyzarka-remington-pg6070,id-262289"
                   data-shop-p05="http://www.mediamarkt.pl/strzyzarka-remington-pg6070,id-979483"
                   data-shop-p06="none"
                   data-shop-p07="http://www.morele.net/maszynka-do-wlosow-remington-pg6070-690525/"
                   data-shop-p08="none"
                   data-shop-p09="none"
                   data-shop-p10="http://www.euro.com.pl/trymery/remington-vacuum-5w1-pg6070.bhtml#afterSearch-pg6070|trymery||Trymery|product"
                   data-shop-p11="http://www.saturn.pl/strzyzarka-remington-pg6070,id-979483"
                   data-shop-p12="http://selgros24.pl/Sprz%C4%99t-AGD/Drobne-AGD/Pozosta%C5%82e-drobne-AGD/Maszynki-do-strzy%C5%BCenia/REMINGTON/ZESTAW-DO-PIEL%C4%98GNACJI-OSOBISTEJ-REMINGTON-VACUUM-5W1-PG6070/2_69594.do"
                   data-shop-p13="http://www.empik.com/zestaw-do-pielegnacji-osobistej-5w1-remington-pg6070-dla-mezczyzn-czarny-remington,p1102729521,elektronika-p"
                   data-shop-p14="http://www.smyk.com/zestaw-do-pielegnacji-osobistej-5w1-remington-pg6070-dla-mezczyzn-czarny,p1102729521,swiat-niemowlaka-p"
                   data-shop-p15="http://www.oleole.pl/trymery/remington-vacuum-5w1-pg6070.bhtml#afterSearch-pg6070|trymery||Trymery|product"></a>
                <a href="http://www.youtube.com/watch?v=n9FxngWdDIo" class="tube"></a>
            </div>
        </div>

        <div class="clear"></div>

        <div class="row shaver">
            <p>Nasze golarki to przede wszystkim dokładne i komfortowe usuwanie zarostu. W ofercie znaleźć można golarki rotacyjne i foliowe. Szeroki wybór rodzajów i modeli pozwala dostosować sprzęt do wszystkich rodzajów zarostu i kształtów twarzy. </p>
        </div>

        <div class="row shaver">
            <div class="box" id="XR1390">
                <img src="{{ asset('/images/products/0108.jpg') }}" alt="thumb" class="thumb" />

                <img src="{{ asset('/images/products/p001.png') }}" alt="title" class="title">

                <p><strong>Golarka Rotacyjna HyperFlex Verso:</strong></p>
                <ul>
                    <li><p>Technologia Hyper Flex</p></li>
                    <li><p>grzebień do trymowania i stylizacji zarostu</p></li>
                    <li><p>Głowica Active Contour XL</p></li>
                    <li><p>Podwójne pierścienie tnące</p></li>
                    <li><p>100% wodoodporna</p></li>
                    <li><p>Zasilanie akumulatorowe </p></li>
                    <li><p>Trymer precyzyjny ComfortTrim</p></li>
                    <li><p>Do 60 min bezprzewodowego działania</p></li>
                </ul>

                <a href="http://pl.remington-europe.com/men/shaving/rotary-shavers/hyperflex-verso-rotary-shaver-xr1390-__6822.html" class="more" target="blank">więcej &gt;</a>

                <a href="#buyNow"
                   class="buy"
                   data-shop-p00="http://www.agdwarszawa.pl/p/1542/948/golarka-rotacyjna-hyperflex-verso-symbol-xr-1390--golarki-meskie.html"
                   data-shop-p01="http://www.agito.pl/golarka-meska-remington-xr-1390-hyperflex-verso-1111-1032525.html"
                   data-shop-p02="http://bankujesz-zyskujesz.pl/moda-i-uroda/golarko-strzyzarka-hyper-flex-verso-xr1390"
                   data-shop-p03="http://www.mediadomek.pl/product-pol-13263--XR1390-Golarka-Rotacyjna-HyperFlex-Verso.html?text=1390"
                   data-shop-p04="none"
                   data-shop-p05="http://www.mediamarkt.pl/golarka-remington-xr1390,id-983411"
                   data-shop-p06="http://merlin.pl/REMINGTON-Hyperflex-Pro-Golarka-rotacyjna_REMINGTON/browse/product/208,1519238.html"
                   data-shop-p07="http://www.morele.net/golarka-remington-xr1390-666536/"
                   data-shop-p08="none"
                   data-shop-p09="https://sklep.payback.pl/nagrody/golarka-rotacyjna-hyperflex-pro"
                   data-shop-p10="none"
                   data-shop-p11="http://www.saturn.pl/golarka-remington-xr1390,id-983411"
                   data-shop-p12="http://selgros24.pl/Sprz%C4%99t-AGD/Drobne-AGD/Pozosta%C5%82e-drobne-AGD/Golarki-m%C4%99skie/REMINGTON/GOLARKA-ROTACYJNA-REMINGTON-HYPERFLEX-PRO-XR1390/2_70737.do"
                   data-shop-p13="http://www.empik.com/golarka-akumulatorowa-remington-hyperflex-verso-xr1390-bialo-czarna-remington,p1102861119,elektronika-p"
                   data-shop-p14="http://www.smyk.com/golarka-akumulatorowa-remington-hyperflex-verso-xr1390-bialo-czarna,p1102861119,swiat-niemowlaka-p"
                   data-shop-p15="none"></a>
                <a href="#" class="tube"></a>
            </div>

            <div class="box" id="XR1370">
                <img src="{{ asset('/images/products/0109.jpg') }}" alt="thumb" class="thumb" />

                <img src="{{ asset('/images/products/p002.png') }}" alt="title" class="title">

                <p><strong>Golarka Rotacyjna HyperFlex Pro:</strong></p>
                <ul>
                    <li><p>Technologia HyperFlex</p></li>
                    <li><p>Ostrza PrecisionUltra</p></li>
                    <li><p>Głowica XL ActiveContour</p></li>
                    <li><p>Podwójne pierścienie tnące</p></li>
                    <li><p>100% wodoodporna</p></li>
                    <li><p>Zasilanie akumulatorowe</p></li>
                    <li><p>Trymer precyzyjny ComfortTrim</p></li>
                    <li><p>Do 60 min bezprzewodowego działania</p></li>
                </ul>

                <a href="http://pl.remington-europe.com/men/shaving/rotary-shavers/hyperflex-pro-rotary-shaver-xr1370.html" class="more" target="blank">więcej &gt;</a>

                <a href="#buyNow"
                   class="buy"
                   data-shop-p00="none"
                   data-shop-p01="http://www.agito.pl/golarka-meska-remington-xr-1370-hyperflex-pro-1111-977822.html"
                   data-shop-p02="http://bankujesz-zyskujesz.pl/moda-i-uroda/golarka-rotacyjne-hyperflex-pro-xr1370"
                   data-shop-p03="http://www.mediadomek.pl/product-pol-13152-GOLARKA-REMINGTON-XR1370-HyperFlex.html"
                   data-shop-p04="none"
                   data-shop-p05="http://www.mediamarkt.pl/golarka-remington-xr-1370,id-898204"
                   data-shop-p06="http://merlin.pl/Remington-HyperFlex-Pro-XR1370-golarka-rotacyjna_REMINGTON/browse/product/208,1422619.html"
                   data-shop-p07="none"
                   data-shop-p08="none"
                   data-shop-p09="none"
                   data-shop-p10="http://www.euro.com.pl/golarki/remington-xr1370.bhtml#afterSearch-golarka+rotacyjna+hyperflex+pro||||product"
                   data-shop-p11="http://www.saturn.pl/golarka-remington-xr-1370,id-898204"
                   data-shop-p12="none"
                   data-shop-p13="none"
                   data-shop-p14="none"
                   data-shop-p15="http://www.oleole.pl/golarki/remington-xr1370.bhtml"></a>
                <a href="http://www.youtube.com/watch?v=joT3jCLOv3g" class="tube"></a>
            </div>

            <div class="box" id="XR1350">
                <img src="{{ asset('/images/products/0110.jpg') }}" alt="thumb" class="thumb" />

                <img src="{{ asset('/images/products/p011.png') }}" alt="title" class="title">

                <p><strong>Golarka Rotacyjna HyperFlex Plus:</strong></p>
                <ul>
                    <li><p>Technologia HyperFlex</p></li>
                    <li><p>Ostrza PrecisionUltra</p></li>
                    <li><p>Głowica XL ActiveContour</p></li>
                    <li><p>Podwójne pierścienie tnące</p></li>
                    <li><p>100% wodoodporna</p></li>
                    <li><p>Zasilanie akumulatorowe</p></li>
                    <li><p>Trymer precyzyjny ComfortTrim</p></li>
                    <li><p>Do 60 min bezprzewodowego działania</p></li>
                </ul>

                <a href="http://pl.remington-europe.com/men/shaving/rotary-shavers/hyperflex-plus-rotary-shaver-xr1350.html" class="more" target="blank">więcej &gt;</a>

                <a href="#buyNow"
                   class="buy"
                   data-shop-p00="none"
                   data-shop-p01="none"
                   data-shop-p02="http://bankujesz-zyskujesz.pl/moda-i-uroda/golarka-rotacyjna-hyperflex-plus-xr1350"
                   data-shop-p03="none"
                   data-shop-p04="none"
                   data-shop-p05="http://www.mediamarkt.pl/golarka-remington-xr-1350,id-898206"
                   data-shop-p06="http://merlin.pl/Remington-HyperFlex-Plus-XR1350-golarka-rotacyjna_REMINGTON/browse/product/208,1422629.html"
                   data-shop-p07="none"
                   data-shop-p08="none"
                   data-shop-p09="none"
                   data-shop-p10="http://www.euro.com.pl/golarki/remington-xr1350.bhtml"
                   data-shop-p11="http://www.saturn.pl/golarka-remington-xr-1350,id-898206"
                   data-shop-p12="none"
                   data-shop-p13="none"
                   data-shop-p14="none"
                   data-shop-p15="http://www.oleole.pl/golarki/remington-xr1350.bhtml"></a>
                <a href="http://www.youtube.com/watch?v=Rgnih71qt-8" class="tube"></a>
            </div>

            <div class="box" id="XR1330">
                <img src="{{ asset('/images/products/0111.jpg') }}" alt="thumb" class="thumb" />

                <img src="{{ asset('/images/products/p003.png') }}" alt="title" class="title">

                <p><strong>Golarka Rotacyjna HyperFlex:</strong></p>
                <ul>
                    <li><p>Technologia HyperFlex</p></li>
                    <li><p>Ostrza PrecisionUltra</p></li>
                    <li><p>Głowica XL ActiveContour</p></li>
                    <li><p>Podwójne pierścienie tnące</p></li>
                    <li><p>100% wodoodporna</p></li>
                    <li><p>Zasilanie akumulatorowe</p></li>
                    <li><p>Trymer precyzyjny ComfortTrim</p></li>
                    <li><p>Do 50 min bezprzewodowego działania</p></li>
                </ul>

                <a href="http://pl.remington-europe.com/men/shaving/rotary-shavers/hyperflex-rotary-shaver-xr1330.html" class="more" target="blank">więcej &gt;</a>

                <a href="#buyNow"
                   class="buy"
                   data-shop-p00="none"
                   data-shop-p01="http://www.agito.pl/golarka-meska-remington-xr-1330-hyperflex-1111-918500.html"
                   data-shop-p02="none"
                   data-shop-p03="http://www.mediadomek.pl/product-pol-13151-Golarka-REMINGTON-XR1330-HyperFlex.html"
                   data-shop-p04="none"
                   data-shop-p05="http://www.mediamarkt.pl/golarka-remington-xr-1330,id-898208"
                   data-shop-p06="http://merlin.pl/Remington-HyperFlex-XR1330-golarka-rotacyjna_REMINGTON/browse/product/208,1444708.html"
                   data-shop-p07="http://www.morele.net/golarka-remington-xr1330-599461/"
                   data-shop-p08="none"
                   data-shop-p09="https://sklep.payback.pl/nagrody/golarka-rotacyjna-hyperflex"
                   data-shop-p10="http://www.euro.com.pl/golarki/remington-hyperflex-xr1330.bhtml#afterSearch-xr1330|golarki||Golarki+m%C4%99skie|product"
                   data-shop-p11="http://www.saturn.pl/golarka-remington-xr-1330,id-898208"
                   data-shop-p12="http://selgros24.pl/Sprz%C4%99t-AGD/Drobne-AGD/Pozosta%C5%82e-drobne-AGD/Golarki-m%C4%99skie/REMINGTON/GOLARKA-ROTACYJNA-REMINGTON-XR1330/2_69727.do"
                   data-shop-p13="http://www.empik.com/golarka-akumulatorowa-remington-hyperflex-xr1330-remington,p1087747721,elektronika-p"
                   data-shop-p14="none"
                   data-shop-p15="http://www.oleole.pl/golarki/remington-hyperflex-xr1330.bhtml"></a>
                <a href="http://www.youtube.com/watch?v=khZ-X82pPpA" class="tube"></a>
            </div>
        </div>

        <div class="clear"></div>

        <div class="row all">
            <a href="#"></a>
        </div>

        <div class="clear"></div>
{% endblock %}